@charset 'utf-8';

.starwars-iv {
  background: linear-gradient(to left top, darken(palette(outer-space), 10%), palette(slate-gray));
  border-radius: 50%;
  height: 330px;
  margin: 0 auto;
  max-width: 330px;
  padding: 14px;
  position: relative;
  transform: scale(0.9);

  @media screen and (min-width: 375px) {
    transform: scale(1);
  }

  &::before {
    // sass-lint:disable no-color-keywords, no-color-literals
    background-color: black;
    // sass-lint:enable no-color-keywords, no-color-literals
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }

  &::after {
    background: linear-gradient(to right, palette(shuttle-gray), palette(outer-space));
    content: '';
    height: 14px;
    left: 12px;
    position: absolute;
    top: calc(50% - 7px);
    width: calc(100% - 24px);
  }
}
