@charset 'utf-8';

@include test-module('The Posters Project') {
  @include test-module('palette function') {
    @include test('Should return the appropiate HEX value from $palette') {
      $actual: palette(slate-gray);
      $expected: #707D90;

      @include assert-equal($actual, $expected);
    };

    @include test('Should return the appropiate HEX value from $palette') {
      $actual: palette(outer-space);
      $expected: #293239;

      @include assert-equal($actual, $expected);
    };
  };
};
