@charset 'utf-8';

.home {
  background-attachment: fixed;
  background-image: url('http://posters.wtf/wallpaper-2.png'); //sass-lint:disable-line no-url-domains, no-url-protocols
  background-size: cover;

  &__copy {
    height: 100vh;
    margin: 0 auto;
    max-width: 630px;
    text-align: center;

    p {
      // sass-lint:disable no-vendor-prefixes
      -webkit-transform: translateY(-50%);
      // sass-lint:enable no-vendor-prefixes
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

small {
  display: inline-block;
  font-size: 10px;
  text-align: center;
  width: 100%;
}
