@charset 'utf-8';

@font-face {
  // sass-lint:disable no-url-domains, no-url-protocols, no-duplicate-properties, indentation
  font-family: 'vcr';
  font-style: normal;
  font-weight: normal;
  src: url('https://storage.googleapis.com/ro9ues/fonts/vcr.eot');
  src: url('https://storage.googleapis.com/ro9ues/fonts/vcr.eot?#iefix') format('embedded-opentype'),
       url('https://storage.googleapis.com/ro9ues/fonts/vcr.woff2') format('woff2'),
       url('https://storage.googleapis.com/ro9ues/fonts/vcr.woff') format('woff'),
       url('https://storage.googleapis.com/ro9ues/fonts/vcr.ttf') format('truetype'),
       url('https://storage.googleapis.com/ro9ues/fonts/vcr.svg#vcr_osd_monoregular') format('svg');
  // sass-lint:enable no-url-domains, no-url-protocols, no-duplicate-properties, indentation
}
